body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4f;
}
#countdown{
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.countdown-time span{
    font-size: 20px;
    margin: 30%;
}